{% extends "base.html" %}

{% block title %}{{ SITENAME }} | {{ article.title }}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <article>
            <h1>{{ article.title }}</h1>
            <span class="published-date">
                # Published on {{ article.date | strftime('%x')}}
            </span>
            <hr>
            {{ article.content }}
        </article>
        <hr>
        <div id="disclaimer">
            <p>
                <em>
                    As you may have guessed, I am light-years away from being an expert in Ethereum, Smart Contracts, Solidity, English grammar, and so on.
                    So, for all of you who know and understand a little more than what I do, please open an issue or even a pull request on
                    <a href="https://github.com/tinchoabbate/hackingmood" target="_blank">hackingmood's repo</a> and help make this blog a little better. Thanks!.
                </em>
            </p>            
        </div>
    </div>
</div>
{% endblock %}