{% extends "base.html" %}

{% block title %}{{ SITENAME }} | Home{% endblock %}
{% block description %}
<meta name="description" content="">
{% endblock %}

{% block content %}
<div class="row">
    <section class="col-lg-12">
        <main>
        {% for article in articles %}
            <article>
                <h2>
                    <a href="{{article.url}}">{{ article.title }}</a>
                </h2>
                <span class="published-date">
                    # Published on {{ article.date | strftime('%x')}} | {{ article.stats['read_mins'] }} minutes read
                </span>
                <p>{{ article.summary }}</p>
            </article>        
        {% endfor %}
        </main>
    </section>
</div>
{% endblock %}